body {
    font-family: 'Roboto', sans-serif;
}

/* Backgrounds */

.background-1{
    background-color: #478eff;
}

.background-2{
    background-color: #0062ff;
}

/* decoration content */

.decoration-title{
    color: #fe9900;
    text-align: center;
    font-size: 5vw;
    margin: 1vw 0;
    text-decoration: underline;
}

.decoration-text{
    text-align: center;
    font-size: 3vw;
}

.decoration-subtitle{
    color: #fe9900;
    text-align: center;
    font-size: 4vw;
    margin: 1vw 0;
    text-decoration: underline;
}