/* Footer content */

footer {
    background-color: #173058;
}

.footer-brand {
    color: #fe9900;
    font-family: 'Shadows Into Light', cursive;
}

.text-yellow {
    color: #fe9900;
}

.footer-links {
    font-size: 15px;
}

.socials {
    text-align: center;
    padding: inherit;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 25px;
    padding-right: 10px;
    color: #fe9900;
}

/* Button */

.btn--cta{
    vertical-align: middle;
    line-height: 2;
    font-size: 30px;
    font-weight: bold;
    border-radius: 23px;
    width: 200px;
}

.btn--yellow{
    color: #173058;
    background-color: #fe9900;
    border-color: #fe9900;
}

