/* Button */

.btn--cta{
    font-size: 20px;
    font-weight: bold;
    border-radius: 23px;
    width: 150px;
    margin-top: 10px;
}

.btn--yellow{
    color: #173058;
    background-color: #fe9900;
    border-color: #fe9900;
}

/* Footer content */

footer {
    background-color: #173058;
    height: 10vw;
}

.socials{
    margin: 2.5vw 0;
    text-align: center;
    padding: inherit;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 5vw;
    padding-right: 2vw;
    color: #fe9900;
}

/* Footer media queries */
    
@media screen and (max-width:2560px){
    .btn--cta{
        font-size: 24px;
        width: 250px;
        margin-left: 100px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 1200px){
    .btn--cta{
        margin-left: 75px;
    }
}

@media screen and (max-width: 992px){
    .btn--cta{
        font-size: 24px;
        width: 200px;
    }
}

@media screen and (max-width: 768px){
    .btn--cta{
        font-size: 20px;
        width: 150px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 425px){
    .btn--cta{
        font-size: 12px;
        width: 100px;
        margin-left: 10px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 375px){
    .btn--cta{
        margin-left: 5px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 320px){
    .btn--cta{
        font-size: 8px;
        width: 80px;
        margin-left: 5px;
        margin-top: 10px;
    }
}