/* Footer content */

footer {
    background-color: #173058;
    height: 10vw;
}

.socials{
    margin: 2.5vw 0;
    text-align: center;
    padding: inherit;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 5vw;
    padding-right: 2vw;
    color: #fe9900;
}

/* Button */

.btn--cta{
    line-height: 2;
    font-size: 2.5vw;
    font-weight: bold;
    border-radius: 23px;
    width: 25vw;
    margin-top: 2.5vw;
    margin-left: 6vw;
}

.btn--yellow{
    color: #173058;
    background-color: #fe9900;
    border-color: #fe9900;
}

