/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Header colour */

.bg-color-header{
    background-color: #173058;
}

/* Header content */
header{
    height: 10vh;
}

.logo-img{
    height: 13vh;
    width: auto;
    margin: 1vh auto;
    display: block;    
}


.navbar{
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
}

.navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #fe9900;
    padding: 0;
    line-height: 1;
}

.navbar .navbar-toggler{
    background: #1c3a6a;
    border: 0;
}

.navbar-nav{
    position: relative;
    z-index: 5000;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
}

nav div ul li{
    background: #1c3a6a;
    border-left: 1px solid #173058;
    border-right: 1px solid #173058;
    border-collapse: collapse;
}

nav div ul li .active{
    background: #173058;
}

/* Header media queries */

@media screen and (min-width:992px){
    .navbar-nav{
        margin-right: 5px;
    }
}

@media screen and (min-width: 1200px){
    .navbar{
        margin-top: 8%;
    }

    .navbar-nav{
        font-size: 1.5rem;
    }

    .navbar-brand{
        font-size: 38px;
        margin: 12.5% 0;
    }
}

@media screen and (max-width: 1200px){
    .navbar{
        margin-top: 5%;
    }
    .navbar-brand{
        font-size: 38px;
        margin: 5% 0;
    }
    .navbar-nav{
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px){
    .navbar{
        margin-top: 4%;     
    }

    .navbar-brand{
        font-size: 36px;
        margin: 5% 0;
    }
}

@media screen and (max-width: 768px){
    .navbar{
        margin-top: 0;     
    }

    .navbar-brand{
        font-size: 29px;
        margin: 18% 0;
    }

    .navbar .navbar-toggler{
        border: 0;
        margin: 9% auto;
    }

    .navbar .navbar-toggler .navbar-toggler-icon{
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 425px){
    .navbar-brand{
        font-size: 28px;
        margin: 14% 0;
    }

    .navbar .navbar-toggler{
        border: 0;
        margin: 13% auto;
    }

    .navbar .navbar-toggler .navbar-toggler-icon{
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 375px){
    .navbar-brand{
        font-size: 26px;
        margin: 13% 0;
    }

    .navbar .navbar-toggler{
        border: 0;
        margin: 14% auto;
    }

    .navbar .navbar-toggler .navbar-toggler-icon{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 320px){
    .navbar-brand{
        font-size: 24px;
        margin: 11.5% 0;
    }

    .navbar .navbar-toggler{
        border: 0;
        margin: 15% auto;
    }

    .navbar .navbar-toggler .navbar-toggler-icon{
        height: 40px;
        width: 40px;
    }

    .navbar-nav{
        font-size: 0.75em;
    }
}

/* Hover.css */
.hvr-sweep-to-bottom:before{
    background: #173058 !important;
}