/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Header content */
header{
    background-color: #173058;
    height: 15vw;
}

.logo-img{
    height: 13vw;
    width: auto;
    margin: 1vw; 
}

.navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    font-size: 6vw;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #fe9900;
    line-height: 1;
    margin: 1.5vw 0;
}

.navbar .navbar-toggler{
    background: #1c3a6a;
    border: 0;
    margin-top: 3.5vw;
}

.navbar-toggler-icon{
    height: 7vw;
    width: 7vw;
}

.navbar{
    border: 0;
    background-color: #173058;
    font-size: 1.75vw;
    margin-top: 1vw;
}

.navbar-nav{
    position: relative;
    z-index: 5000;
    text-align: center;
}

nav div ul li{
    background: #1c3a6a;
    border-left: 0.2vw solid #173058;
    border-right: 0.2vw solid #173058;
    border-collapse: collapse;
}

.active{
    background: #173058;
}

.nav-item { 
    text-align: center;
}

/* Header media queries */
@media screen and (max-width:992px){
    .navbar{
        margin-top: 0;
        margin-left: 15vw;
    }
}
/* Hover.css */
.hvr-sweep-to-bottom:before{
    background: #173058;
}