/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Header content */

.logo-img{
    height: 13vw;
    width: auto;
    margin: 1vw 2vw; 
    float: left;
}

.logo-text {
    vertical-align: middle;
}

.navbar-dark .navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
    color: #fe9900;
    font-size: 6vw;
    line-height: 1.1;
}

.navbar .navbar-toggler{
    background: #1c3a6a;
    border: 0;
    margin-right: 12.75px;
}

.navbar-toggler-icon{
    height: 29.75px;
    width: 29.75px;
}

.navbar{
    background-color: #173058;
    font-size: 2vw;
}

.navbar-nav{
    position: relative;
    z-index: 5000;
    text-align: center;
}

nav div ul li{
    background: #1c3a6a;
    border-left: 0.2vw solid #173058;
    border-right: 0.2vw solid #173058;
    border-collapse: collapse;
}

.active{
    background: #173058;
}

.nav-item { 
    text-align: center;
}

/* Header media queries */
@media only screen and (max-width: 425px) {
    .logo-img {
    height: 55.25px;
    }
    .navbar-dark .navbar-brand {
        font-size: 25.5px;
    }
    .navbar{
    font-size: 8.5px;
}
}
@media only screen and (min-width: 1024px) {
    .logo-img {
        height: 133.11px;
    }
    .navbar-dark .navbar-brand {
        font-size: 61.44px;
    }
    .navbar{
        font-size: 20.48px;
    }
}
/* Hover.css */
.hvr-sweep-to-bottom:before{
    background: #173058;
}