body {
    font-family: 'Roboto', sans-serif;
    background-color: #478eff;
}

/* Nitrogen Cycle content */

.nitrogen-title{
    text-align: center;
    font-size: 5vw;
    margin: 1vw 0;
    text-decoration: underline;
}

.nitrogen-text{
    text-align: center;
    font-size: 3vw;
}

.nitrogen-subtitle{
    text-align: center;
    font-size: 4vw;
    margin: 1vw 0;
    text-decoration: underline;
}

#nitrogen{
    width: 80vw;
    height: auto;
    margin: 0 auto 1vw;
    display: block;
}