body {
    font-family: 'Roboto', sans-serif;
    background-color: #478eff;
}

/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Setup content */

.setup-title{
    text-align: center;
    font-size: 70px;
    margin: 10px 0;
    text-decoration: underline;
}

.setup-text{
    font-size: 30px;
}

.setup-subtitle{
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
    text-decoration: underline;
}

#tanksetup{
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

#airstone{
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

#thermometer{
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

#powerhead{
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

/* Setup media queries */

@media screen and (min-width: 1200px){
    .setup-title{
        text-align: center;
        font-size: 100px;
        margin: 10px 0;
        text-decoration: underline;
    }

    .setup-text{
        font-size: 50px;
    }

    .setup-subtitle{
        text-align: center;
        font-size: 75px;
        margin: 10px 0;
        text-decoration: underline;
    }

    #tanksetup{
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }

    #airstone{
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }

    #thermometer{
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }

    #powerhead{
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px){
    .setup-text{
        font-size: 1rem;
    }
}