body {
    font-family: 'Roboto', sans-serif;
    background-color: #478eff;
}

/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Hero image */

.hero-img{
    width: 100%;
    height: 63.33vw;
    background-image: url(../images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#cover-text,
#cover-text h2 {
    font-size: 3.5vw;
    text-align: center;
    color: #fe9900;
}

#cover-text {
    font-size: 2.5vw;
    letter-spacing: 2px;
    width: 50%;
    top: 40%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: rgba(28, 58, 106, .5);
    position: absolute;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* About section */

#about{
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
    text-decoration: underline;
}

.about-us{
    font-size: 30px;
}

/* Intros */

.intro-title{
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
    text-decoration: underline;
}

.intro-text{
    font-size: 30px;
}

/* Media Queiries */
@media screen and (max-width:2560px){
    .about-us{
        font-size: 30px;
    }
}
@media screen and (max-width: 425px){
    .about-us{
        font-size: 1rem;
    }

    .intro-text{
        font-size: 1rem;
    }
}