body {
    font-family: 'Roboto', sans-serif;
    background-color: #478eff;
}

/* Bootstrap override */

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.overflow-hide{
    overflow: hidden;
}

/* Hero image */

.hero-img{
    background-image: url(../images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#cover-text,
#cover-text h2 {
    text-align: center;
    color: #fe9900;
}

#cover-text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: rgba(28, 58, 106, .5);
    position: absolute;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* About section */

#about{
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
    text-decoration: underline;
}

.about-us{
    font-size: 30px;
}

/* Intros */

.intro-title{
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
    text-decoration: underline;
}

.intro-text{
    font-size: 30px;
}

/* Media Queiries */

@media screen and (max-width:2560px){
    .hero-img{
        height: 850px;
    }

    #cover-text{
        font-size: 42px;
        letter-spacing: 2px;
        width: 50%;
        height: 400px;
        bottom: 225px;
        right: 25%;
    }

    #cover-text h2 {
        font-size: 2em;
    }

    .about-us{
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px){
    .hero-img{
        height: 600px;
    }

    #cover-text{
        font-size: 32px;
        letter-spacing: 2px;
        width: 50%;
        height: 300px;
        bottom: 150px;
        right: 25%;
    }

    #cover-text h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 992px){
    .hero-img{
        height: 500px;
    }

    #cover-text{
        font-size: 28px;
        letter-spacing: 2px;
        width: 50%;
        height: 250px;
        bottom: 125px;
        right: 25%;
    }

    #cover-text h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 768px){
    .hero-img{
        height: 400px;
    }

    #cover-text{
        font-size: 22px;
        letter-spacing: 2px;
        width: 50%;
        height: 200px;
        bottom: 100px;
        right: 25%;
    }
}

@media screen and (max-width: 425px){
    .hero-img{
        height: 200px;
    }

    #cover-text{
        font-size: 12px;
        letter-spacing: 2px;
        width: 50%;
        height: 140px;
        bottom: 25px;
        right: 25%;
    }

    #cover-text h2 {
        font-size: 2rem;
    }

    .about-us{
        font-size: 1rem;
    }

    .intro-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px){

    .hero-img{
        height: 175px;
    }

    #cover-text{
        font-size: 10px;
        letter-spacing: 2px;
        width: 50%;
        height: 120px;
        bottom: 25px;
        right: 25%;
    }
}

@media screen and (max-width: 320px){

    .hero-img{
        height: 150px;
    }

    #cover-text{
        font-size: 8px;
        letter-spacing: 2px;
        width: 50%;
        height: 100px;
        bottom: 25px;
        right: 25%;
    }
}