body {
    font-family: 'Roboto', sans-serif;
    background-color: #478eff;
}

/* Hero image */

.hero-img{
    width: 100%;
    height: 63.33vw;
    background-image: url(../images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.cover-text {
    color: #fe9900;
    text-align: center;
    font-size: 2.5vw;
    letter-spacing: 2px;
    width: 50%;
    top: 35%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: rgba(28, 58, 106, .5);
    position: absolute;
}

.cover-text h2 {
    font-size: 5vw;
}

/* About section */

.about{
    color: #fe9900;
    text-align: center;
    font-size: 5vw;
    margin: 1vw 0;
    text-decoration: underline;
}

.about-us{
    text-align: center;
    font-size: 3vw;
}

/* Intros */

.intro-title{
    color: #fe9900;
    text-align: center;
    font-size: 5vw;
    margin: 1vw 0;
    text-decoration: underline;
}

.intro-text{
    text-align: center;
    font-size: 3vw;
}
